@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=Raleway:300,300i,400,600';

//variables
$dark-purple: #8C4F6B;
$light-purple: #BF84AF;
$dark-brown: #BF9B7A;
$medium-brown: #8C6961;
$light-brown: #F2E0D0;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F2E0D0;

}

#reddit-container{
  width: 100%;
}

#reddit-header{
  text-align:center;
  background-color: $dark-purple;
  background: url('/img/paw-pattern.jpg');
  padding: 25px 0;
  height: auto;
  border-bottom: 3px solid darken($dark-purple, 4%);
}

#nav-bar{
  background-color: $light-purple;
  height: 45px;
  border-bottom: 3px solid darken($light-purple, 4%);
}

h1{
  font-family: 'Pacifico', cursive;
  color: white;
}

p{
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  text-align: center;
  &.title{
    font-weight: 600;
  }
  &.author{
    font-size: 0.65em;
    font-weight: 300;
    font-style: italic;
  }
  &.comment{
    font-size: 0.65em;
    font-weight: 300;
  }
}

a{
  text-decoration: none;
  color: darken($dark-purple, 4%);
  &:hover{
    color: darken($light-purple, 4%);
  }
}

#all-posts {
  column-width: 160px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

.reddit-post {
  display: inline-block;
  width: 160px;
  background-color: #FFFFFF;
  margin: 0 2px 15px;
  padding: 10px;
  // transition: opacity .4s ease-in-out;
  column-break-inside: avoid;

}

.reddit-post img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #BF9B7A;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

// div#all-posts:hover .reddit-post:not(:hover) {
//   opacity: 0.4;
// }

@media screen and (max-width: 750px) {
  #all-posts { column-gap: 15px; }
  #all-posts .reddit-post { width: 100%; }
}