@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic);
@import url(https://fonts.googleapis.com/css?family=Yeseva+One);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F2E0D0;
}

#reddit-container{
  width: 100%;
}

#reddit-header{
  text-align:center;
  background-color: #BF84AF;
  padding: 30px 0;
  height: auto;
}

h1{
  font-family: 'Yeseva One', cursive;
  color: #8C6961;
}

p{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.75em;
  text-align: center;
  &.author{
    font-size: 0.65em;
    font-weight: 300;
    font-style: italic;
  }
  &.comment{
    font-size: 0.65em;
    font-weight: 300;
  }
}

a{
  text-decoration: none;
  color: #75425A;
  &:hover{
    color: #BF84AF;
  }
}

#all-posts {
  column-width: 160px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

.reddit-post {
  display: inline-block;
  width: 160px;
  background-color: #FFFFFF;
  margin: 0 2px 15px;
  padding: 10px;
  transition: opacity .4s ease-in-out;
  column-break-inside: avoid;

}

.reddit-post img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #BF9B7A;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

div#all-posts:hover .reddit-post:not(:hover) {
  opacity: 0.4;
}

@media screen and (max-width: 750px) {
  #all-posts { column-gap: 15px; }
  #all-posts .reddit-post { width: 100%; }
}